<!-- The game editor -->
<script type="text/javascript" src="/js/gameeditor/gameEditor.js"></script>

<h1>Quest of Realms</h1>
<a href="/">Back to main page</a>

<h2 id="gameName"></h2>
<input type="hidden" id="gameId" value="<%= game.id %>" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/styles/editRealm.css">
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type="text/javascript" src="/js/dependencies/async.min.js"></script>
<script type="text/javascript" src="/js/realmEditor/realmUtils.js"></script>

<%- partial ('realmPartial.ejs') %>

<hr/>

<div id="realmsInGamePanel">
    <h2>Realms in the Game</h2>
    <div id="gameRealmsList"></div>
</div>

<div id="saveContainer" style="margin-top: 10px; display:none"><button id="saveButton" /></div>
