<!-- The game editor -->
<script type="text/javascript" src="/js/gameeditor/gameEditor.js"></script>

<h1>Quest of Realms</h1>
<a href="/">Back to main page</a>

<h2 id="gameName"></h2>
<input type="hidden" id="gameId" value="<%= game.id %>" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/styles/editRealm.css">
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type="text/javascript" src="/js/dependencies/async.min.js"></script>

<div id="realmDesignsPanel" style="display: none;">
    <h2>Available Realms</h2>
    <div id="availableRealmsList"></div>
</div>

<div id="createRealmDesignPanel" style="margin-top: 20px;">
    <input type="button" id="showCreateRealmDesignButton" value="New Realm" />

    <div id="realmDesignContainer" style="display: none;">
        <h2>Add New Realm</h2>
        <div id="realmDesignForm">
            <div class="inputRow"><label class="inputLabel" for="realmName">Name:</label><input type="text" id="realmName" /></div>
            <div class="inputRow"><label class="inputLabel" for="realmDescription">Description:</label><input type="text" id="realmDescription" /></div>
            <div class="inputRow"><label class="inputLabel" for="realmWidth">Width:</label><input type="number" id="realmWidth" /></div>
            <div class="inputRow"><label class="inputLabel" for="realmHeight">Height:</label><input type="number" id="realmHeight" /></div>
            <div class="inputRow"><input type="button" id="createRealmButton" value="Create!" /></div>
        </div>
    </div>
</div>

<hr/>

<div id="realmsInGamePanel">
    <h2>Realms in the Game</h2>
    <div id="gameRealmsList"></div>
</div>

<div id="saveContainer" style="margin-top: 10px; display:none"><button id="saveButton" /></div>
