<script type="text/javascript" src="/js/realmEditor.js"></script>
<script type="text/javascript" src="/mixins/sails.io.js"></script>

<h1>Quest of Realms</h1>
Realm Designer

<h2>Editing realm <%= realm.name %></h2>
<input type="hidden" id="realmId" value="<%= realm.id %>" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/styles/editRealm.css">

<div id="workArea">
    <div id="toolsPanel" style="float:left; margin-right:5px;">
        <div id="palettePanel" style="clear:both;">
            <div style="font-weight: bold">Palette</div>
            <div id="palette" style="width:300px; height: 200px; font-family: arial, sans-serif; font-size: 12px;">
                <ul>
                    <li><a href="#palette-environment">Environment</a></li>
                    <li><a href="#palette-items">Items</a></li>
                    <li><a href="#palette-characters">Characters</a></li>
                </ul>
                <div id="palette-environment">
                    <!-- Will be dynamically populated. -->
                </div>
                <div id="palette-items">
                    <!-- Will be dynamically populated. -->
                </div>
                <div id="palette-characters">
                    <!-- Will be dynamically populated. -->
                </div>
                <div id="paletteItemPropertiesPanel">
                    <table>
                        <tr>
                            <th style="text-align: right;">Type:</th><td><label id="paletteItemType" value="" /></td></td>
                        </tr>
                        <tr>
                            <th style="text-align: right;">Description:</th><td><label id="paletteItemDescription" value="" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div id="propertiesPanelTitle" style="margin-top: 20px; font-weight: bold">Location properties</div>
        <div id="propertiesPanel" style="clear:both;">
            <div id="properties" style="width:300px; height: 250px;font-family: arial, sans-serif; font-size: 12px;">
                <ul>
                    <li><a href="#properties-overview">Overview</a></li>
                    <li><a href="#properties-items">Items</a></li>
                    <li><a href="#properties-characters">Characters</a></li>
                </ul>
                <div id="properties-overview">
                    <div id="locationPropertiesPanel">
                        <div>
                            <table>
                                <tr>
                                    <th style="text-align: right;">Name:</th><td><input type="text" id="locationName" class="locationProperty" /></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right;">Environment:</th><td><label id="envType" value="" class="locationProperty" /></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right;">Characters:</th>
                                    <td><div id="characterSummary"></div></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right;">Items:</th>
                                    <td><div id="itemSummary"></div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="properties-items">
                    <div id="itemList" style="height: 55px">
                        <!-- Items will be dynamically populated. -->
                    </div>
                    <div id="itemPropertiesPanel" style="border-top:1px solid gray">
                        <div>
                            <table>
                                <tr>
                                    <th style="text-align: right;">Name:</th><td><input type="text" id="itemName" class="itemProperty" /></td>
                                </tr>
                                <tr>
                                    <th style="text-align: right;">Description:</th><td><label id="itemDescription" value="" class="itemProperty" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="properties-characters">
                    <!-- Will be dynamically populated. -->
                </div>
            </div>
        </div>
    </div>

    <div id="workPanel">
        <div id="mapPanel">
            <div>
                <input type="hidden" id="realmWidth" value="<%= realm.width %>" />
                <input type="hidden" id="realmHeight" value="<%= realm.height %>" />
                <div id = "mapContainer">
                    <table id="mapTable" border="1">
                    </table>
                </div>
            </div>
        </div>
        <div class="droppable" id="wastebasket"><img src="images/wastebasket.png" /></div>
    </div>
</div>


