<!-- A view partial for the game map -->

 <div id="mapPanel">
     <div>
         <input type="hidden" id="realmWidth" value="<%= realm.width %>" />
         <input type="hidden" id="realmHeight" value="<%= realm.height %>" />
         <div id = "mapContainer">
             <table id="mapTable" style="border-spacing:1px; border-collapse:collapse">
             </table>
         </div>
     </div>
 </div>
