<!-- A view partial for the game map -->

 <div id="mapPanel">
     <div>
         <div id = "mapContainer">
             <table id="mapTable" style="border-spacing:1px; border-collapse:collapse">
             </table>
         </div>
     </div>
 </div>
