<link rel="stylesheet" href="/styles/index.css">
<script type="text/javascript" src="/js/index.js"></script>

<h1>Quest of Realms</h1>

<div><a href="credits">Credits</a></div>
<div style="margin-top: 10px;">Start page</div>

<br>

<div id="realmDesignsPanel">
    <h2>Existing Realm Designs</h2>
    <div id="realmList"></div>
</div>

<div id="createRealmDesignPanel" style="margin-top: 20px;">
    <hr/>
    <h2>Design New Realm</h2>
    <input type="button" id="showCreateRealmDesignButton" value="Start" />
    <div id="realmDesignContainer" style="display: none;">
        <div class="inputRow"><label class="inputLabel" for="realmName">Name:</label><input type="text" id="realmName" /></div>
        <div class="inputRow"><label class="inputLabel" for="realmDescription">Description:</label><input type="text" id="realmDescription" /></div>
        <div class="inputRow"><label class="inputLabel" for="realmWidth">Width:</label><input type="number" id="realmWidth" /></div>
        <div class="inputRow"><label class="inputLabel" for="realmHeight">Height:</label><input type="number" id="realmHeight" /></div>
        <div class="inputRow"><input type="button" id="createButton" value="Create!" /></div>
    </div>
</div>

