<link rel="stylesheet" href="/styles/index.css">
<script type="text/javascript" src="/js/index/index.js"></script>

<h1>Quest of Realms</h1>

<div><a href="credits">Credits</a></div>
<div style="margin-top: 10px;">Start page</div>

<br>

<div id="gamesPanel">
    <h2>Games</h2>
    <div id="gameList"></div>
</div>

<div id="createGamePanel" style="margin-top: 20px;">
    <input type="button" id="showCreateGameButton" value="New Game" />

    <div id="gameDesignContainer" style="display: none;">
        <h2>Add New Game</h2>
        <div id="newGameForm">
            <div class="inputRow"><label class="inputLabel" for="gameName">Game Name:</label><input type="text" id="gameName" /></div>
            <div class="inputRow"><label class="inputLabel" for="gameDescription">Description:</label><input type="text" id="gameDescription" /></div>
            <div class="inputRow"><label class="inputLabel" for="playerName">Player Name:</label><input type="text" id="playerName" /></div>
            <div class="inputRow"><input type="button" id="createGameButton" value="Create!" /></div>
        </div>
    </div>
</div>
