<script type="text/javascript" src="/js/index.js"></script>

<h1>Quest of Realms</h1>

<div><a href="credits">Credits</a></div>
<div style="margin-top: 10px;">Start page</div>

<div id="buttonPanel" style="margin-top: 10px;">
    <input type="button" id="ShowCreateFormButton" value="New Realm" />
    <div id="realmDetailsContainer" style="display: none;">
        <span><label for="realmName">name:</label><input type="text" id="realmName" /></span>
        <span><label for="realmWidth">width:</label><input type="number" id="realmWidth" /></span>
        <span><label for="realmHeight">height:</label><input type="number" id="realmHeight" /></span>
        <span><input type="button" id="CreateButton" value="Create!" /></span>
    </div>
</div>

